// ==============================
// Override Variables
// 覆盖变量
// ==============================

@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Madimi+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif+SC&display=swap');


$header-title-font-family: Lucida Handwriting;
$header-title-font-size: 1.5rem;

$global-font-family: Noto Serif SC, ZCOOL KuaiLe, Merriweather;
$global-font-size: 18px;
$global-font-height: 4rem;

$toc-title-font-size: 25px;
$toc-content-font-size: 20px;